@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: 'Poppins', sans-serif;
}
.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

#nav, #info-container  {
padding:1rem 10vw;
}

#main{
padding:1rem 10vw;
height: 40vh;
}

